
body{
    background-color: black;
}
img{
    padding: 5px;
    border: 3px solid olive;
    width: 900px;
    height: 400px;
    margin-left: 300px;
    margin-top: 75px;
    margin-right: 100px;
    margin-bottom: -80px;
}
h1{
    color: darkgray;
    text-align: center;
    font-size: 110px;
    width: 100%;
    margin-bottom:0px;
}
hr{
    color: darkgray;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 400px;
    margin-right: 400px;
}
p{
    color: darkgray;
    text-align: center;
    margin-bottom: 0px;
}